//- 웹사이트에서 반복되는 html 코드를 복붙하지 않고 계속 재활용하는 방법을 mixin이라고 한다.

mixin videoBlock(video={})
  .videoBlock
    a(href=routes.videoDetail(video.id))
      video.videoBlock__thumbnail(src=`/${video.videoFile}`, controls=false)
      h4.videoBlock__title=video.title
      if video.views === 1
        h6.videoBlock__views 1 view
      else
        h6.videoBlock__views #{video.views} views 